<main>
    <form class="w-50 m-auto" [formGroup]="newPassword" (ngSubmit)="newPassSubmit(newPassword)">
        <h2 class="text-dark fw-bolder mb-3">Enter Your New Password:</h2>
        <input type="email" placeholder="Enter Your Email" class="form-control" formControlName="email">
        <div *ngIf="newPassword.get('email')?.touched&&newPassword.get('email')?.errors" class="alert alert-danger my-3">
            <span *ngIf="newPassword.get('email')?.getError('required')">Email is Required</span>
            <span *ngIf="newPassword.get('email')?.getError('email')">Email is Invalid</span>
        </div>
        <input type="password" placeholder="Enter Your New Password" class="form-control my-3" formControlName="newPassword">
        <div *ngIf="newPassword.get('newPassword')?.touched&&newPassword.get('newPassword')?.errors" class="alert alert-danger my-3">
            <span *ngIf="newPassword.get('newPassword')?.getError('required')">Password is Required</span>
            <ul *ngIf="newPassword.get('newPassword')?.getError('pattern')">
                <li>At least one upper case English letter</li>
                <li>At least one lower case English letter</li>
                <li>At least one digit</li>
                <li>At least one special character</li>
                <li>Minimum eight in length</li>
            </ul>
        </div>
        <button [disabled]="newPassword.invalid" class="btn btn-outline-success my-3">Reset Your Password</button>
    </form>
</main>