<main>    
<div class="forgotpass">
<form class="w-50 m-auto" [formGroup]="forgotPassword" (ngSubmit)="forgotPasswordSubmit(forgotPassword)">
    <h2 class="fw-bolder text-dark">Forgot Password</h2>
    <input type="email" placeholder="Enter Your Email" class="form-control" formControlName="email">
    <div *ngIf="forgotPassword.get('email')?.touched&&forgotPassword.get('email')?.errors" class="alert alert-danger mt-3 ">
        <span *ngIf="forgotPassword.get('email')?.getError('required')">Email is required</span>
        <span *ngIf="forgotPassword.get('email')?.getError('email')">Email is Not Valid</span>
    </div>
    <button [disabled]="forgotPassword.invalid" class="btn btn-outline-success my-3">
      <span *ngIf="!loading">Send Reset Code</span>  
      <span *ngIf="loading"><i class="fas fa-spinner fa-spin"></i></span>  
    </button>
</form>
</div>
<div class="resetcode">
    <form class="w-50 m-auto" [formGroup]="resetCode" (ngSubmit)="resetCodeSubmit(resetCode)">
        <h2 class="fw-bolder text-dark lead">Verification:</h2>
        <input type="text" placeholder="Reset Code" class="form-control" formControlName="resetCode">
        <div *ngIf="resetCode.get('resetCode')?.touched&&resetCode.get('resetCode')?.errors" class="alert alert-danger mt-3">
            <span *ngIf="resetCode.get('resetCode')?.getError('required')">Code is Required</span>
            <span *ngIf="resetCode.get('resetCode')?.getError('pattern')">Code is Invalid</span>
        </div>
        <button [disabled]="resetCode.invalid" class="btn btn-outline-success my-3">
          <span *ngIf="!loading">Verify Reset Code</span>
          <span *ngIf="loading"><i class="fas fa-spinner fa-spin"></i></span>  
        </button>
    </form>
</div>
<div class="w-50 m-auto">
<div *ngIf="statusMessage" class="alert alert-danger">
    <span>{{statusMessage}}</span>
</div>
</div>
</main>