span{
    font-size: 14px;
    font-weight: 400;
}
span i{
    color: #ffff00;
}
img{
    transition: all 1s;
}
.prodImg:hover img{
    transform: scale(1.2);
    cursor: pointer;
}
#addBtn{
    transform: translateY(100%);
    opacity: 0;
    transition: tranform,opacity .5s,.5s;
}
.product:hover #addBtn{
    transform: translateY(0);
    opacity: 1;
    cursor: pointer;
}
.heart{
    color: #d9534f !important;
    font-size: 16px;
}
.heart:hover{
    cursor: pointer;
}
main{
    padding: 80px 0;
}
#search{
    transition: width .7s;
}
#search:focus{
    width: 75% !important;
}