<main class="d-flex justify-content-center  align-items-center">
        <div class="container">    
        <div class="row">
                <div class="col-12 col-md-12 col-lg-4 ">
                <div class="nav flex-column nav-pills me-3 bg-body-secondary p-3 min-vh-100 rounded" id="v-pills-tab" role="tablist" aria-orientation="vertical">     
                        <div id="usernameAfter" class="d-flex flex-column align-items-center">
                                <div class="imgOfUser d-flex justify-content-center align-items-center rounded-circle">
                                        <i class="fa-solid fa-user fa-3x"></i>
                                </div>
                                <h3 class="text-center">Welcome {{userName?.split(' ').slice(0,1).join(' ')}}</h3>
                        </div>
                  <button class="nav-link active" id="v-pills-home-tab" data-bs-toggle="pill" data-bs-target="#v-pills-home" type="button" role="tab" aria-controls="v-pills-home" aria-selected="true">Account Info</button>
                  <button class="nav-link" id="v-pills-profile-tab" data-bs-toggle="pill" data-bs-target="#v-pills-profile" type="button" role="tab" aria-controls="v-pills-profile" aria-selected="false">Payment History</button>
                  <button class="nav-link" id="v-pills-settings-tab" data-bs-toggle="pill" data-bs-target="#v-pills-settings" type="button" role="tab" aria-controls="v-pills-settings" aria-selected="false">Settings</button>    
                </div>
        </div>
        <div class="col-12 col-md-12 col-lg-8 ">
                <div class="tab-content" id="v-pills-tabContent">
                  <div class="tab-pane fade show active bg-body-tertiary" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab" tabindex="0">
                        <div class="pro">
                                
                                <h3 class="lead"><span class="fw-bold">Name:</span> {{userData?.name}}</h3>
                                <h3 class="lead"><span class="fw-bold">Email:</span> {{userData?.email}}</h3>
                                <h3 class="lead"><span class="fw-bold">Phone:</span> {{userData?.phone}}</h3>
                               
                        </div>
                        
                </div>
                  <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab" tabindex="0">
                        <div class="row bg-body-secondary gy-3 my-4 rounded" *ngFor="let item of cartItems">
                        
                        <div class="row my-3" *ngFor="let item2 of item.cartItems">
                        <div class="col-md-2 col-2">
                                <img [src]="item2.product.imageCover" alt="" class="w-100 rounded">
                               
                        </div>
                        <div class="col-md-7 col-7">
                                <div class="d-flex flex-column justify-content-center ">
                                        <span class="text-dark fw-semibold ">{{item2.product.title}}</span>
                                        <span class="text-success fw-light fs-3">{{item2.price|currency:'EGP'}}</span>
                                </div>
                        </div>
                        
                </div>
                <div class="d-flex justify-content-between align-items-center my-1 orders">
                        <span class="text-success fw-bold fs-4">Total Price Of Order</span>
                        <span class="text-success fw-bold fs-4">{{item.totalOrderPrice|currency:'EGP'}}</span>
                        
                </div>
                <div class="d-flex justify-content-between align-items-center my-3 shipping">
                        <span class="text-dark fw-bold fs-4">Shipping Details</span>
                        <div class="row flex-column align-items-center">
                                <div class="d-flex flex-column text-start">
                                <p class="fs-4"><span class="fw-semibold">Details:</span> {{item.shippingAddress.details}}</p>
                                <p class="fs-4"><span class="fw-semibold">Phone:</span> {{item.shippingAddress.phone}}</p>  
                                <p class="fs-4"><span class="fw-semibold">City:</span> {{item.shippingAddress.city}}</p> 
                                </div>
                        </div>
                </div>
                         </div>
                 </div>
                  <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab" tabindex="0">
                        <div class="d-flex flex-column justify-content-center min-vh-100">
                                <button class="btn btn-outline-danger" (click)="openChangeUserPassword()">Change Your Current Password</button>
                                <button class="btn btn-outline-danger my-3" (click)="openUpdateUserData()">Update Your Data</button>
                        </div>
                  </div>
                </div>
              </div>
    </div>
</div>
</main>

