<main>
    <form class="w-50 m-auto" [formGroup]="updateUserPassword" (ngSubmit)="handleUpdateUserPass(updateUserPassword)">
        <h2 class="my-3 lead fw-semibold">Update Your Password</h2>
        <input type="password" placeholder="Current Password" class="form-control" formControlName="currentPassword">
        <div class="alert alert-danger my-3" *ngIf="updateUserPassword.get('currentPassword')?.touched&&updateUserPassword.get('currentPassword')?.errors">
            <span *ngIf="updateUserPassword.get('currentPassword')?.getError('required')">Password is Required</span>
            <ul *ngIf="updateUserPassword.get('currentPassword')?.getError('pattern')">
                <li>At least one upper case English letter</li>
                <li>At least one lower case English letter</li>
                <li>At least one digit</li>
                <li>At least one special character</li>
                <li>Minimum eight in length</li>
            </ul>
        </div>
        <input type="password" placeholder="Your New Password" class="form-control my-3" formControlName="password">
        <div class="alert alert-danger my-3" *ngIf="updateUserPassword.get('password')?.touched&&updateUserPassword.get('password')?.errors">
            <span *ngIf="updateUserPassword.get('password')?.getError('required')">A New Password is Required</span>
            <ul *ngIf="updateUserPassword.get('password')?.getError('pattern')">
                <li>At least one upper case English letter</li>
                <li>At least one lower case English letter</li>
                <li>At least one digit</li>
                <li>At least one special character</li>
                <li>Minimum eight in length</li>
            </ul>
        </div>
        <input type="password" placeholder="Repassword" class="form-control" formControlName="rePassword">
        <div class="alert alert-danger my-3" *ngIf="updateUserPassword.get('rePassword')?.touched&&updateUserPassword.get('rePassword')?.errors">
            <span *ngIf="updateUserPassword.get('rePassword')?.getError('required')">RePassword is Required</span>
            <span *ngIf="updateUserPassword.get('rePassword')?.getError('rePassword')">Doesn't Match Password</span>
        </div>
        <button class="btn btn-outline-success my-3" [disabled]="updateUserPassword.invalid">
          <span *ngIf="!loading">Submit</span>
          <span *ngIf="loading"><i class="fas fa-spinner fa-spin"></i></span>  
        </button>
        <div class="alert alert-danger" *ngIf="msg">
            <span>{{msg}}</span>
        </div>
    </form>
</main>